@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  background: $mainColor;
  margin: 15px;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 6px;
  font-size: 15px;
  transition-duration: 0.2s;

  &:hover {
    cursor: pointer;
    background: rgb(0, 136, 141);
  }

  &:disabled {
    background-color: rgb(88, 88, 88);
    cursor: default;
  }
}

input {
  margin-bottom: 15px;
  width: 150px;
}
