$breakpoints: (
  xs: 360px,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1140px,
);

// COLORS

$mainColor: rgb(0, 99, 102);
$mainColorAlt: rgb(80, 109, 110);
$error: rgb(95, 0, 0);
$grey: rgb(77, 77, 77);
